In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('/Users/imanjean-jacques/Documents/Data_Analytics_Bootcamp/Supervised_Michine_Learning/Credit_Risk_Analysis/Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100

# convert other string columns into float
df = pd.get_dummies(df, columns=["home_ownership", "verification_status", "hardship_flag", "debt_settlement_flag", "pymnt_plan",
                                "initial_list_status",  "next_pymnt_d", "application_type", "issue_d"])

# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,0,1,0,1,1,0,0,0,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,0,1,0,1,1,0,0,0,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,0,1,0,1,1,0,0,0,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,0,1,0,1,1,0,0,0,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,0,1,0,1,1,0,0,0,1

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.drop(columns = "loan_status")

# Create our target
y = df["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,0.371696,0.451066,0.177238
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.483261,0.497603,0.381873
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

rf_model.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [18]:
# make predictions on the test set 
y_pred = rf_model.predict(X_test)

In [19]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7826703065810634

In [20]:
# Display the confusion matrix

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   62,    30],
       [ 1858, 15255]])

In [21]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.67      0.89      0.06      0.78      0.59        92
   low_risk       1.00      0.89      0.67      0.94      0.78      0.61     17113

avg / total       0.99      0.89      0.68      0.94      0.78      0.61     17205

In [22]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07503931301093439, 'total_pymnt_inv'),
 (0.0710798245348941, 'total_rec_prncp'),
 (0.0636965069420207, 'last_pymnt_amnt'),
 (0.05064279592289401, 'total_rec_int'),
 (0.04509959213949987, 'total_pymnt'),
 (0.03115105405873858, 'int_rate'),
 (0.023799673464030318, 'issue_d_Jan-2019'),
 (0.01823991476032899, 'mo_sin_old_rev_tl_op'),
 (0.017774308061836993, 'dti'),
 (0.0168655600732998, 'bc_util'),
 (0.016729968715856983, 'max_bal_bc'),
 (0.015748165623769583, 'total_bc_limit'),
 (0.015641790531406734, 'out_prncp'),
 (0.01528263200142359, 'mths_since_rcnt_il'),
 (0.01493642124440054, 'annual_inc'),
 (0.014914906945133291, 'total_bal_ex_mort'),
 (0.014744139352129619, 'installment'),
 (0.01460090087572124, 'bc_open_to_buy'),
 (0.014334849871068452, 'revol_bal'),
 (0.014135521838669165, 'out_prncp_inv'),
 (0.013870814376936411, 'issue_d_Mar-2019'),
 (0.013616425821315475, 'tot_hi_cred_lim'),
 (0.013351986779698531, 'mths_since_recent_inq'),
 (0.013283946636909492, 'avg_cur_bal'),
 (0.01304820264630105, 'loan_amnt'),
 (0.013023659851835337, 'il_util'),
 (0.012690381217644445, 'total_acc'),
 (0.012500712702663343, 'total_rev_hi_lim'),
 (0.012365657834660527, 'mo_sin_old_il_acct'),
 (0.012326976218305436, 'all_util'),
 (0.012266728710490392, 'total_bal_il'),
 (0.011588187516858214, 'mths_since_recent_bc'),
 (0.011099800685919866, 'mo_sin_rcnt_rev_tl_op'),
 (0.011013917713519861, 'open_acc'),
 (0.010970100683085944, 'inq_last_12m'),
 (0.010935379317071772, 'num_actv_rev_tl'),
 (0.01080558197449477, 'total_il_high_credit_limit'),
 (0.010640224424009038, 'tot_cur_bal'),
 (0.01005460192316121, 'num_il_tl'),
 (0.00958525170089116, 'num_op_rev_tl'),
 (0.00954124374857239, 'mo_sin_rcnt_tl'),
 (0.00943344921576171, 'acc_open_past_24mths'),
 (0.009115519206050363, 'num_actv_bc_tl'),
 (0.008974790981021835, 'num_sats'),
 (0.008813981138477629, 'num_rev_accts'),
 (0.008694581602975324, 'pct_tl_nvr_dlq'),
 (0.007976836640991808, 'total_cu_tl'),
 (0.007712607601113712, 'num_bc_tl'),
 (0.007023301524922205, 'total_rec_late_fee'),
 (0.006937375793873452, 'open_act_il'),
 (0.006916799601555587, 'num_bc_sats'),
 (0.006868050844363944, 'open_rv_24m'),
 (0.006812054827662457, 'num_rev_tl_bal_gt_0'),
 (0.006735259652399761, 'inq_last_6mths'),
 (0.006558409831036071, 'mort_acc'),
 (0.00643594705588846, 'inq_fi'),
 (0.005626626093499334, 'open_il_24m'),
 (0.005343959086818993, 'percent_bc_gt_75'),
 (0.005309360254102324, 'open_il_12m'),
 (0.0050754351948615155, 'open_acc_6m'),
 (0.004992725965904389, 'next_pymnt_d_Apr-2019'),
 (0.004789805347448131, 'open_rv_12m'),
 (0.0047632603452729145, 'num_tl_op_past_12m'),
 (0.004090906771232204, 'next_pymnt_d_May-2019'),
 (0.00388153699080654, 'issue_d_Feb-2019'),
 (0.0037245356957695537, 'num_accts_ever_120_pd'),
 (0.0030601268984404577, 'delinq_2yrs'),
 (0.0024359614981664, 'tot_coll_amt'),
 (0.002176364070428328, 'verification_status_Verified'),
 (0.0018023406997359362, 'pub_rec'),
 (0.0017166907125531709, 'verification_status_Not Verified'),
 (0.001659795323920778, 'home_ownership_OWN'),
 (0.0014894746785509925, 'verification_status_Source Verified'),
 (0.0014835729268718265, 'home_ownership_RENT'),
 (0.0013262694715957854, 'home_ownership_MORTGAGE'),
 (0.0012662517408780795, 'application_type_Individual'),
 (0.0011528053895296644, 'application_type_Joint App'),
 (0.0010989029069314172, 'initial_list_status_w'),
 (0.00099420696469618, 'num_tl_90g_dpd_24m'),
 (0.000842476760398878, 'pub_rec_bankruptcies'),
 (0.0008221353763298887, 'collections_12_mths_ex_med'),
 (0.0005420738521082203, 'initial_list_status_f'),
 (0.0004858110126520127, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [24]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier

eec_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec_model.fit(X_train, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [25]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred = eec_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9291744262561643

In [26]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[   85,     7],
       [ 1122, 15991]])

In [27]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.92      0.93      0.13      0.93      0.86        92
   low_risk       1.00      0.93      0.92      0.97      0.93      0.86     17113

avg / total       0.99      0.93      0.92      0.96      0.93      0.86     17205